In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
climate_watch_GCP = pd.read_csv("ClimateWatch_HistoricalEmissions/CW_HistoricalEmissions_GCP.csv")
climate_watch_GCP.head()

,Country name,Country,Sector,Source,Gas,1960,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,Cement,GCP,CO2,0.018012,0.021806,0.029074,0.05088,0.061783,...,0.028644,0.041189,0.076126,0.044785,0.05688,0.038329,0.060674,0.016345,0.016345,0.016345
1,Afghanistan,AFG,Coal,GCP,CO2,0.127120,0.175870,0.296780,0.26381,0.300450,...,3.621500,2.722400,2.717600,3.257300,3.63340,3.700600,4.116000,3.396500,3.531300,3.843100
2,Afghanistan,AFG,Gas,GCP,CO2,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.271250,0.282130,0.318640,0.300450,0.29302,0.245490,0.153940,0.157550,0.148280,0.149710
3,Afghanistan,AFG,Gas flaring,GCP,CO2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,Oil,GCP,CO2,0.268760,0.293120,0.362740,0.39205,0.476320,...,5.164700,6.624500,5.794100,6.074900,6.61860,6.840700,7.275300,6.701500,6.861900,7.011100